body{
    display: block;
    margin: 0;
    background-image: url(../images/white-waves.png);
}
h3{
    background-color: #4aaaa5;
    color: white;
    width: 140px;
    position: absolute;
    left: 0;
    height: 80px;
    margin: 0;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    position: absolute;
    right: 0;
    bottom:20px;
    display: inline-block;
}
a{
    color: #777777;
}
#div1{
    position:relative;
    text-align: center;
    height: 80px;
    background-color:#ffffff;
    width: 960px;
    margin: 0 auto;

}
header{
    background-color:#ffffff;
border-bottom-color: #cccccc;
border-bottom-style: solid;
border-bottom-width: 2px;
width: 100%;
}
#header2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-color:#dddddd;
border-bottom-style: solid;
border-bottom-width: 2px;
}
#profilepic{
   float: left;
   margin-right: 10px;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}
#maindiv{
    width: 100%;
}
.container,#wrapper{
    width: 920px;
    background-color:#ffffff;
    margin: 0 auto;    
    padding: 20px;
    margin-top: 1%;
}

/* .container{
    margin-top: 1%;
} */
footer{
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: x-small;
    height: 30px;
    color: white;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form{
    color: #777777;
    width: 920px;
    background-color:#ffffff;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
textarea{
    columns: 50;
    grid-auto-rows: 100;
    width: 800px;
    height: 200px;
}
.text{
    width: 800px;
}
#submit{
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    border: 0;
    padding: 5px;
}
.flexrow{
    display: flex;
    /* align-items: flex-start;*/
    /* justify-content: center;   */
    align-content: center;
    /* align-content: space-around; 
    margin-bottom: 1%;   
   */
}

#wrapper{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
   /* margin-left: 45%; */
}


/* #img1{
    margin: 80px; 
}
#img2{
    margin: 80px;  
}
#img3{
    margin: 80px;      
}
#img4{
    margin: 80px;     
}
#img5{
    margin: 80px;      
} */

.portdiv{
    position: relative;
    margin: 10px;
}
.portp{
    position:absolute;    
    background-color:#4aaaa5;
    text-align: center;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 125px;
    bottom: 0%; 
    line-height: 1.5;

}


